.brown{
    background-color:brown;
}
.black {
    background-color:black;
}
.white {
    background-color:white;
}
.red {
    background-color:red;
}
.orange {
    background-color:orange;
}
.yellow {
    background-color:yellow;
}
.green {
    background-color:green;
}
.lightblue {
    background-color:skyblue;
}
.blue {
    background-color:blue;
}
.purple {
    background-color:purple;
}
iframe {
    width: 100px;
    height: 60px;
}
.heart {
 cursor: url="http://orig05.deviantart.net/dd66/f/2015/349/6/4/undertale_icon_by_lily1879jaime-d9k9wed.gif";   
}
.gaster {
    font-family:wingdings;
}
.arial {
    font-family:arial;
}
.menu {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 300px;
    background-color: #b0e0e6;
}
}
